header{
    background-color: rgb(255, 236, 236);
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right:0px;
    font-family: 'Montserrat', sans-serif;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    text-transform: uppercase;
    color:rgb(255, 161, 161);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:rgb(255, 88, 124);
    transition:all 1s ease;
}

.produtos{
    width: 65%;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 160, 160);
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
}

li img{
    width: 100%;
}

.produtos li:hover{
    border-color: rgb(255, 88, 124);
}

.produtos li:hover h2{
    font-size: 32px;
}

.produtos li:active{
    border-color: rgb(231, 50, 89);
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(241, 112, 140);
    font-family: "Lobster", cursive ;
}

.descricao{
    font-size: 16px;
    color:rgb(255, 102, 135);
    font-family: 'Kaisei HarunoUmi', serif;
}

.preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    color: rgb(233, 76, 76);
    font-family: 'Kaisei HarunoUmi', serif;
}

footer{
    text-align: center;
    background: rgb(255,142,143);
    padding: 40px 0;
}

.copyright{
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin: 20px 0 0;
    
}

.titulo-1,.checkbox{
    font-family: "Lobster", cursive ;
    color:rgb(243, 83, 118)
}

form{
    margin: 40px 0;
    width:940px;
    margin: 70px auto 50px auto;
}

input::placeholder{
    color:rgb(235, 116, 142);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}


form label, form legend{
    display:block;
    font-size: 20px;
    margin: 0 0 20px;
}

fieldset{
    margin: 20px 0px; 
}

.input-padrao{
    display:block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    color:rgb(255, 88, 124);
    border: 2px solid rgb(255, 134, 134);
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.input-padrao::selection{
    background: rgb(255, 186, 189);
    color:rgb(255, 255, 255)
}

.opcoes{
    color:rgb(255, 88, 124);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.opcoes2{
    margin-top: 30px;
    border: rgb(255, 102, 135);
    color:rgb(255, 88, 124);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
 }


.checkbox{
    margin: 50px 0px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    transition: 1s all;
    background: rgb(255, 134, 134);
    font-family: "Lobster", cursive ;
    color:rgb(255, 255, 255);
    font-size: 140%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(231, 50, 89);
    transform: scale(1.1);
}

table{
    margin: 70px 80px;
    border-collapse: separate;
    border-spacing: 5px 5px;
        display: inline-block;
    position: absolute;
    top: 1020px;
    left: 65%;
    
}

thead{
    background: rgb(255, 134, 134);
    color:rgb(255, 255, 255);
    font-family: "Lobster", cursive;
}

td,th{
    border: 2px solid rgb(255, 134, 134);
    border-radius: 150px;
    padding: 10px 30px;
}

td{
    color: rgb(231, 50, 89);
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: bold;
    font-size: 12px;
}

/* Css da pag inicial */

.banner{
    width: 100%;
}


.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    font-family: "Lobster", cursive ;
    color: rgb(231, 50, 89);
}

.titulo-principal:before{
    content:"\2661  "
}

.titulo-principal:after{
    content:"  \2661"
}

.titulo-principal::first

.titulo-beneficios:after{
    content:"  \2661"
}



.titulo-beneficios:before{
    content:"\2661  "
}

.titulo-beneficios{
    color:white;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    font-family: "Lobster", cursive ;
}

.selecao{
    font-family: 'Montserrat', sans-serif;
}

.principal{
    padding: 3em 0;
    width:940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
    font-size: 20px;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.iconetexto{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 50%;
}

.mapa{
    font-family: 'Montserrat', sans-serif;
    padding: 3em 0;
    background: linear-gradient(rgb(255,255,255),rgb(255,142,143));
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo{
    width:940px;
    margin: 0 auto;
}

.beneficios{
    padding: 3em 0;
    background: rgb(255, 142, 143);
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5em;
    color:white;
}

.itens:before{
    content: "\273F   "
}

.itens:first-child{
    font-weight: bold;
    margin-top: 3.3em;
}

.imagem-beneficios{
    width: 60%;
    border-radius: 5%;
}

li{
    font-family: 'Montserrat', sans-serif;
}

.video{
    width: 560px;
    margin: 5em auto;
}

@media screen and (max-width: 480px){
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video,.produtos, form{
        width: auto;
    }

    h1{
        text-align: center;
    
    }

    nav{
        position: static;
    }

    .lista-beneficios, .imagem-beneficios{
        width: 100%
    }

    .produtos li{
        width: 100%;
        margin: 20px auto;
    }

    .produtos{
        padding: 20px;
    }

    .principal{
        padding:20px
    }

   .lista-beneficios{
       text-align:center;
       margin-bottom: 50px;
   }

   form{
       padding: 0 20px;
   }

   table{
       margin:auto auto 50px auto;
       position: static;
       
   }


    
}